body {
  background-color: #dedaf2;
  font-family: "Gill sans", sans-serif;
}

.container {
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(194, 187, 187, 0.8);
  padding: 30px;
  margin: 60px auto;
}

h1 {
  text-align: center;
}

select {
  display: block;
  padding: 6px;
  width: 100%;
  border-radius: 4px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  font-weight: bold;
}

.city:last-child {
  border-bottom: none;
}

.date {
  margin: 15px 0;
  font-size: 12px;
  opacity: 0.4;
}

.time {
  font-size: 36px;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
}

h2 {
  font-size: 28px;
  margin: 3px 0;
}

a {
  font-size: 13px;
}

footer {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
